.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #252525;
}

.loginCard{
  width:500px;
  height: 370px;
  margin: 70px auto auto;
}

.loginContent{
  background-color: #303030;
  width:500px;
  height: 370px;
}

.registerCard{
  width:500px;
  height: 650px;
  margin: 70px auto auto;
}

.registerContent{
  background-color: #303030;
  width:500px;
  height: 650px;
}

.loginForm{

}
.MuiFormLabel-root {
  color: white !important;
}

.MuiInputBase-input {
  color: white !important;
}

.formControl{
  margin-top: 20px !important;


}

.lsubmit{
  margin-top: 30px !important;
  width: 93px !important;
  margin-left: 197px !important;
 }
.loginContainer{
  text-align: center;
  max-width: 400px !important;
}

.institutionDrop{
  width: 225px;
}

.homeCard{
  width: 500px;
  height: 200px;
  margin: auto;
  margin-top: 100px;
}

.cardHeader{
  background-color: #303030;
  color:white;
  text-align: center;
}

.homeCardContent{
  width: 500px;
  height: 200px;
  background-color: #303030;
  text-align: center;
}

.tCardHome{
  color: white;
  margin-top: 50px !important;
  margin-right: 100px !important;
}

.arrowIcon{
  display: flex;
  margin-top: -50px;
  width: 36em !important;
  height: 3em !important;
}

.userNameNav{
  color:white
}

.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.listObjects{
  background-color: #353535 !important;
  overflow:auto;
  width: 700px;
  height: auto;
  margin: 50px auto 30px;

}

.object{
  background-color: #505050 !important;
  margin-top: 10px;
  color: white !important;
}

.MuiSelect-select{
  background-color: #303030 !important;
}

.typography1{
  color: white;
  margin-top: 80px !important;
}

.greenButton{
  color: white !important;
  background-color: green !important;
}

.grantcallsubmitB{

  margin-top: 100px !important;
  margin-left: 515px !important;
  margin-bottom: 50px !important;
}

.applicationSaveB{
  margin: 60px auto 20px 604px !important;
}

.successIcon{
  color: green !important;
  width: 8em !important;
  margin-bottom: 70px !important;
  height: 8em !important;
}